The data contributed by volunteers like you can be used in many different ways. We are giving back to our community by making this data public. All contributions to this application are released into the public domain. You are free to use this data set in any way you want. The data are provided as JSON data.

Please note: this data set only contains crowd-verified records and may initially be very small. It may change or grow as volunteers like you contribute to <i>Beyond Words</i>.

Have you used or discovered something with the Beyond Words data? Let us know at [ndi@loc.gov](mailto:ndi@loc.gov) or tweet us at @LC_Labs!

<a class="major-button" href="/data" target="_blank">Download</a>