
<section class="usa-hero">
    <div class="usa-grid">
        <div class="usa-hero-callout usa-section-dark">
            <h2><span class="usa-hero-callout-alt">Beyond Words:</span>
            help us discover pictures in Library of Congress historical newspaper collections</h2>
            <h6>
            An experiment by <a href="https://labs.loc.gov">LC Labs</a>
            </h6>
            <a class="major-button" href="/#/intro">Get Started!</a>
        </div>
    </div>
</section>

