
<section class="usa-hero">
    <div class="usa-grid">
        <div class="usa-hero-callout usa-section-dark">
            <h2><span class="usa-hero-callout-alt">beyond words:</span>
            help us discover pictures in our historic newspaper collections</h2>
            <h6>
            An experiment by LC Labs
            </h6>
            <a class="major-button" href="/#/intro">Get Started!</a>
        </div>
    </div>
</section>

