@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/merriweather-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-light-webfont.woff2") format("woff2"), url("../fonts/merriweather-light-webfont.woff") format("woff"), url("../fonts/merriweather-light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-regular-webfont.woff2") format("woff2"), url("../fonts/merriweather-regular-webfont.woff") format("woff"), url("../fonts/merriweather-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/merriweather-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-italic-webfont.woff2") format("woff2"), url("../fonts/merriweather-italic-webfont.woff") format("woff"), url("../fonts/merriweather-italic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../fonts/merriweather-bold-webfont.woff") format("woff"), url("../fonts/merriweather-bold-webfont.ttf") format("truetype");
}

html, body,
.home-page h1, .home-page p, .home-page li,
.light-box-area #visibility-button {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}


/* Components */
.small-button {
  padding: 0.3em 1em 0;
}

/* Background */
.readymade-site-background-effect {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(22,23,11,0.5) 0%, rgba(22,23,11,0.8) 50%, rgba(22,23,11,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,23,11,0.5)), color-stop(50%,rgba(22,23,11,0.8)), color-stop(100%,rgba(22,23,11,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(22,23,11,0.5) 0%,rgba(22,23,11,0.8) 50%,rgba(22,23,11,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(22,23,11,0.5) 0%,rgba(22,23,11,0.8) 50%,rgba(22,23,11,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(22,23,11,0.5) 0%,rgba(22,23,11,0.8) 50%,rgba(22,23,11,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(22,23,11,0.5) 0%,rgba(22,23,11,0.8) 50%,rgba(22,23,11,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00262b2d', endColorstr='#e6262b2d',GradientType=0 ); /* IE6-9 */
}

/* Header */
.main-header-group {
  background: rgba(22,23,11,0.8);
}
.main-header-item:hover {
  background: rgba(85,85,85,0.5);
}
.main-header-item.selected {
  background: rgba(111, 58, 70, 0.8);
  border-bottom: solid 2px rgb(242,116,144);
}
.main-header-item:nth-child(3),
.main-header-item:nth-child(4),
.main-header-item:nth-child(5) {
  margin-left: 24px;
  overflow: visible;
  position: relative;
}
.main-header-item:nth-child(3),
.main-header-item:nth-child(4) {
  margin-left: 20px;
}
.main-header-item:nth-child(3):before,
.main-header-item:nth-child(4):before {
  content: "\f105";
  display: block;
  position: absolute;
  font-family: 'FontAwesome';
  left: -12px;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  top: 50%;
}
.main-header-item:nth-child(5):before {
  content: ' ';
  display: block;
  width: 1px;
  height: 50px;
  margin-top: -25px;
  position: absolute;
  left: -12px;
  top: 50%;
  background: rgba(255,255,255,0.3);
}
.main-header-item.logo {
  transform: none;
}
.main-header-item.logo img {
  width: auto;
  height: 52px;
}
.main-nav .login {
  line-height: 5.2em;
}

/* Pages */
.page-content > h1 {
  display: none;
}

.page-content h3 {
  font-size: 20px;
  margin-top: 2em;
  padding: 10px 0 10px 0px;
}

.page-content p {
  font-size: 17px;
  line-height: 2;
  text-align: left;
  max-width: none;
}

.page-content > div {
  padding: 40px 100px 80px 100px;
}

.page-content hr {
  display: block;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  margin: 3em auto 0;
  width: 80%;
}

/* Homepage */

div.home-page {
  margin: 0px auto;
}

.home-page .title {
  display: none;
}


/* Rectangle Tool */
.rectangle-tool .draggable .resize-button {
  fill: #37464f;
  stroke: #efefef;
}
.rectangle-tool .draggable .resize-button:hover {
  fill: #8cbc8c;
  stroke: #f1f1f1;
}
.delete-button circle {
  fill: #ef4545;
  transform: translate(5px, -15px);
  -webkit-transform: translate(5px, -15px);
}
.delete-button path {
  transform: translate(5px, -15px) rotate(45deg);
  -webkit-transform: translate(5px, -15px) rotate(45deg);
}
.delete-button:hover circle {
  fill: #ff5151;
}
.checkbox > path,
.checkbox > text {
  fill: #619661;
}
.checkbox:hover > path,
.checkbox:hover > text {
  fill: #53b253;
}

/* Z-index issues */
.classifier .task-area {
  z-index: 100;
}

/* Tutorial */
.help-modal {
  box-shadow: 0 0 0 2000px rgba(0,0,0,0.8);
}
.modal-body img {
  width: 100%;
}
.modal-body hr {
  border-color: #ccc;
}

/* Update cursors */
.subject-viewer .subject-container .marking-surface .subject-viewer-svg {
  cursor: crosshair;
}
.rectangle-tool .tool-shape.draggable > polyline {
  cursor: move;
}
.rectangle-tool .tool-shape.draggable.committed > polyline {
  cursor: default;
}
.rectangle-tool .draggable .resize-button {
  cursor: nesw-resize;
}
.rectangle-tool .draggable:nth-child(even) .resize-button {
  cursor: nwse-resize;
}

/* Committed state */
.tool-shape.draggable.committed {
  opacity: 0.35;
}
.group-active .tool-shape.draggable.committed {
  opacity: 1;
}

/* Pick one, mark one */
.classifier .right-column .task-area .workflow-task .answer {
  padding-left: 7px;
  border-left: 10px solid #ddd;
}
.classifier .right-column .task-area .workflow-task .answer:hover {
  border-color: #667983;
}
.classifier .right-column .task-area .workflow-task .answer.active {
  border-color: #3f5765;
}
.classifier .right-column .task-area .help-bad-subject-holder .task-help-button {
  display: none;
}
#accordion-help-modal .ui-accordion-content {
  padding: 0.5em;
  overflow: hidden;
  display: block;
}
#accordion-help-modal img {
  width: 100%;
  float: none;
}
#accordion-help-modal ul,
#accordion-help-modal li,
#accordion-help-modal p {
  width: 92%;
  float: none;
}

/* Introduction */

.video-wrapper video {
  display: inline-block;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.video-wrapper {
  margin: 30px 0px;
  padding: 20px 0 10px;
  background: #ccc;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .video-wrapper video {
    width: 90%;
    height: auto;
  }
}
.columns ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
.columns li {
  background: #ccc;
  box-sizing: border-box;
  width: 32%;
  float: left;
  font-size: 22px;
  line-height: 36px;
  box-sizing: border-box;
  padding: 1em;
  margin-right: 1%;
  min-height: 264px;
  border-radius: 6px;
}
.columns li .major-button {
  display: block;
  margin-bottom: 1em;
}
@media screen and (max-width: 800px) {
  .columns li {
    width: auto;
    float: none;
    margin: 1em;
  }
}

.scribe-footer .scribe-footer-general {
  padding-bottom: 10px;
}


/* LOC */
.page-content {
  padding: 0px;
}

.loc-footer-links {
  background: rgba(22,23,11,0.8);
  padding: 0px 0 30px;
  text-align: center;
  margin: 0 -20px;

}
.loc-footer-links > div {
  max-width: 920px;
  margin: 0 auto;
  border-top: 1px solid #333;
}
.loc-footer-links a {
  display: inline-block;
  padding: 10px 20px;
}

/* groups on homepage */
.group {
  padding: 0px;
  border: 1px solid #808080;
}

.group .button-container {
  top: 0px;
  left: 0px;
  height: 200px;
  width: 300px;
}

.group .group-name {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

h3.groups-header {
  text-align: center;
} 

.transcribe-tool {
  max-width: 2000px;
}

.transcribe-tool .modal-body .input-field label {
  font-size: 14px;
}

.transcribe-tool .modal-body .input-field textarea {
  resize: both;
  width: 800px;
  height: 92px;
  border-radius: 4px;
  box-shadow: inset 2px 3px 3px rgb(212, 209, 209);
  border-width: 1px;
  border-color: rgb(212, 209, 209);
  border-style: inset;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.transcribe-tool .modal-body .input-field input {
  border-radius: 4px;
  box-shadow: inset 2px 3px 3px rgb(212, 209, 209);
  border-width: 1px;
  border-color: rgb(212, 209, 209);
  border-style: inset;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.transcribe-tool .modal-body .input-field select {
  border-radius: 4px;
  box-shadow: inset 2px 3px 3px rgb(212, 209, 209);
  border-width: 1px;
  border-color: rgb(212, 209, 209);
  border-style: inset;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.login a {
  color: rgba(255,255,255,0.4);
  text-decoration: none;
}

.login a:hover {
  color: rgba(255,255,255,1);
}

.classification-count {
  font-size: 24px;
  color: #e0182d;
  font-weight: bold;
}

/* Color themem */

/* button style */
.standard-button:not(.ghost),
.major-button:not(.ghost),
.minor-button:not(.ghost),
.small-button:not(.ghost) {
  background: rgba(242,116,144,0.8);
}

.major-button:not(.ghost):hover,
.minor-button:not(.ghost):hover,
.small-button:not(.ghost):hover {
  background: rgba(242,116,144,1);
}


.draggable-modal {
  background-color: rgb(236,236,236);
}


.draggable-modal .modal-header {
  background-color: rgba(22,23,11,0.8);
  color: #fff;
}


.draggable-modal .modal-close-button {
  background: rgba(242,116,144,0.8);
}

.draggable-modal .modal-close-button:hover {
  background: rgba(242,116,144,1);
}


.subject-set-toolbar-links {
  background: rgba(22,23,11,0.8);
}

.tutorial-progress-ind.active,
.tutorial-progress-ind.completed {
  background-color: rgba(242,116,144,0.8);
  border: solid 1px rgba(242,116,144,1);
}

.tutorial-progress-ind {
  border: solid 1px rgba(242,116,144,1);
}

.scribe-footer {
  background-color: rgba(22,23,11,0.8);
}

.classifier .right-column .task-area .social-media-container {
  background: rgb(68, 69, 59);
}

.classifier .right-column .task-area .task-secondary-area > p > a.tutorial-link {
  background-color: #ddd;
  color: #777;
  border-color: #999;
}

.classifier .right-column .task-area .task-secondary-area > p > a.tutorial-link:hover,
.classifier .right-column .task-area .task-secondary-area > p > a.tutorial-link:hover:before {
  color: #3f5765;
}

.classifier .right-column .task-area .task-secondary-area > p > a.tutorial-link:before {
  content: "\f059";
  color: #aaa;
}


.subject-set-toolbar-links a .helper {
  background: rgba(22,23,11,0.8);
}

.subject-set-toolbar-links a .helper:before {
  border-right: 6px solid rgba(22,23,11,0.8);
}

.classifier .right-column .task-area .workflow-task .answer.active {
  background-color: #b5b8b9;
}

.group .button-container a {
  border-color: rgb(242,116,144);
  color: #fff;
}

.pagination li a:hover {
    border: 1px solid rgb(242,116,144); 
}

.pagination .current {
    padding: 0.1875rem 0.625rem;
    background: rgb(242,116,144);
    color: #0a0a0a;
    cursor: default; 
}

.ui-state-default.ui-state-active {
  border-color: rgba(242,116,144,1);
}

.ui-state-default.ui-state-hover {
  border-color: rgba(242,116,144,0.8);
}


/* usads */

.usa-grid,
.usa-grid-full {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
}

.usa-grid::after,
.usa-grid-full::after {
  clear: both;
  content: "";
  display: block;
}

.usa-grid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media screen and (min-width: 600px) {
  .usa-grid {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.usa-grid-full {
  padding: 0;
}


.usa-hero h1,
.usa-hero h2,
.usa-hero h3,
.usa-hero h4,
.usa-hero h5,
.usa-hero h6 {
  clear: both;
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  line-height: 1.3;
  margin-bottom: .5em;
  margin-top: 1.5em;
}

.usa-hero h1 {
  font-size: 4rem;
  font-weight: 700;
}

.usa-hero h2 {
  font-size: 3rem;
  font-weight: 700;
}

.usa-hero h3 {
  font-size: 2rem;
  font-weight: 700;
}

.usa-hero h4 {
  font-size: 1.7rem;
  font-weight: 700;
}

.usa-hero h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.usa-hero h6 {
  font-size: 1.3rem;
  font-weight: 400;
}


.usa-hero {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../img/hero.png");
  background-position: center;
  background-size: cover;
}

.usa-hero .usa-button {
  color: #ffffff;
}

.usa-section-dark .usa-hero-link {
  color: #02bfe7;
}

.usa-hero-callout {
  background-color: #112e51;
  padding: 3rem;
}

@media screen and (min-width: 481px) {
  .usa-hero-callout {
    max-width: 30rem;
  }
}

.usa-hero-callout > *:first-child {
  margin-top: 0;
  margin-bottom: 3rem;
}

.usa-hero-callout .usa-button {
  font-size: 1.4rem;
  margin-top: 7rem;
  width: 100%;
}

.usa-hero-callout-alt {
  color: #ffffff;
  display: block;
}


.usa-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 600px) {
  .usa-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.usa-section-light {
  background-color: #f1f1f1;
}

.usa-section-dark {
  background-color: #112e51;
  color: #ffffff;
}

.usa-section-dark h1,
.usa-section-dark h2,
.usa-section-dark h3,
.usa-section-dark h4,
.usa-section-dark h5,
.usa-section-dark h6 {
  color: #02bfe7;
}

.usa-section-dark p {
  color: #ffffff;
}

.usa-section-dark a {
  color: #d6d7d9;
}

.usa-section-dark a:hover {
  color: #ffffff;
}



/* uswds loc custom */

.usa-hero {
    background-image: url("../images/hero.jpg");
}

.usa-hero .major-button {
    margin-top: 7rem;
    width: 100%;
    padding: 0px 0px;
    text-transform: none;
}

div.home-page div .usa-section-dark {
  background-color: #112e51;
}


/* browser */
.browse .browse-group .column {
  padding: 30px 0 30px 0;
  background: #e0e0e0;
  text-align: center;
  margin: 30px 0px;
}

.browse .browse-group .column img {
  display: inline-block;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.3);
  border-style: solid;
  border-color: #ffffff;
  border-width: 15px;
}

.browse .browse-group .column .item-description {
  margin: 20px 0px auto 0px;
}

.browse .browse-group .column img.landscape {
  width: 70%;
}

.browse .browse-group .column img.portrait {
  width: 30%;
}

.browse .browse-group .column img.square {
  width: 40%;
}

.browse .browse-group .column img.large {
  width: 80%;
}


.browse .browse-group .column .caption {
  font-size: 18px;
  white-space: pre-wrap;
}

.browse .browse-group .column a {
  color: #2b3a42;
  text-decoration: none;
}

.browse .browse-group .column a:hover {
  color: black;
}

.browse .browse-group .column .social-media-container {
  margin: 10px 0 -10px;
  padding-top: 8px;
  padding-bottom: 4px;
  font-size: 26px;
  text-align: center;
  transition: color 0.2s;
  line-height: 1;
  width: 100%;
}

.browse .browse-group .column .social-media-container i {
  color: #9c9c9c;
  cursor: pointer;
  padding: 0 2px;
}

.browse .browse-group .column .social-media-container i:hover {
  color: #939393;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb
}





