<div class="loc-footer-links">
  <div>
    <a href="https://www.loc.gov/legal">Legal</a>
    <a href="https://www.loc.gov/legal/#privacy_policy">Privacy Policy</a>
    <a href="https://www.loc.gov/legal/standard-disclaimer-for-external-links/">External Link Disclaimer</a>
  </div>
</div>
