
.verify-tool-choices

  ul
    padding-left 0
    list-style none
    text-align left

    li
      a
        color black
        text-decoration none

        table.choice
          width 100%
          margin 1em 0
          padding 0.5em

          background-color white
          border-radius 6px

          opacity 0.7

          td
            font-weight bold

            &.label
              padding-right 10px
              font-weight normal
              margin 1em
              width 30px

            &.value
              white-space pre-wrap

          &:hover
            opacity 1
