### Our Goals

The Library of Congress invites you to help us in the effort to create better OCR of our historic newspapers using <i>Column Sleuth</i>. 

This project from [LC Labs](https://labs.loc.gov) is an experiment in crowdsourcing and community engagement. Our goals are to find columns in newspaper with will allow use to then use custom code to generate OCR which is much more correct and readable than we currently have.

To help us reach our goal -- and to help ensure accuracy -- we've broken the work into one simple task.

The information that is created through this project is being made available for download as [data sets](/#/data) and for exploration via keyword search in the [Gallery](/#/gallery).

### Task 1: Mark

Here you'll be identifying various columns of text, illustrations, photographs, and cartoons in the newspapers. You won't be typing, just drawing boxes. You may see existing marks left by other users. Just pick up where they left off.

<div class="video-wrapper">
  <video width="644" height="416" loop autoplay src="/images/mark_task.mp4"></video>
</div>

### Ready?

Try it out! 

<div class="columns">
  <ul>
    <li><a class="major-button" href="/#/mark">Mark</a> Locate columns of text, illustrations, photographs, and cartoons on newspaper pages.</li>
  </ul>
</div>

### Helpful hints
<ul>
<li>You may want to try Column Sleuth using a mouse and keyboard. The mouse will help you better target the marks on a page. </li> 
<li>Remember, this is an experiment! We ask that you send us your feedback and questions at [ndi@loc.gov](mailto:ndi@loc.gov).</li>
<li>Need to zoom or move around the page? You can use the navigation tool at the top left of the screen, or you can use the keyboard.</li>
</ul>

The newspapers that you see in this project are shared by [Chronicling America](http://chroniclingamerica.loc.gov), a partnership between Library of Congress and the National Endowment for the Humanities and state partners. Chronicling America provides access to a collection of millions of historic newspapers. Learn more about Chronicling America and the National Digital Newspapers Program on the [About](/#/about) page. 

Visit the [About](/#/about) page for more details about the background of this project.

